body {
  background-color: bisque;
}

h1,
h3,
div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: darkred;
}

/* Sizes & centers entire menu*/
#menuBG {
  width: 600px;
  height: 600px;
  margin: 10px auto;
}

#btnOrder {
  margin: 10px 0px 0px 235px;
  width: 100px;
  height: 40px;
}

/* Sizes "frmMenu" form */
#frmMenu {
  width: 600px;
  height: 500px;
}

/* Sizes & positions "Size" <div>*/
.left {
  width: 200px;
  height: 200px;
  float: left;
}

/* Sizes & positions "Vegetables" <div> */
.center {
  width: 200px;
  height: 200px;
  float: left;
}

/* Sizes & positions "Meats" <div> */
.right {
  width: 200px;
  height: 200px;
  float: right;
}

#cart {
  width: 600px;
  height: 300px;
}

/* Sizes & positions "showText" <div>*/
#showText {
  width: 300px;
  height: 200px;
  margin: 0px auto;
  float: left;
}

/* Sizes "totalPrice" <div> */
#totalPrice {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  float: right;
}
