/* Sizes & centers menu*/
#menuBG {
  width: 400px;
  height: 470px;
  margin: 10px auto;
}

/* Sizes "Size" & "Meats" areas */
#frmMenu {
  border: 1px solid green;
  width: 400px;
  height: 200px;
}

/* Sizes "totalPrice" area */
#totalPrice {
  width: 200px;
  height: 190px;
  margin: 0 auto;
  float: right;
}

/* Sizes & positions "Size" area, seperate from "Meats" area */
.left {
  width: 200px;
  height: 200px;
  float: left;
}

/* Sizes & positions "MeatS" area */
.right {
  width: 200px;
  height: 200px;
  float: right;
}
