/* Sets .html's elements' font size; any added padding/border gets included in element's total size */
html {
  font-size: 70%;
  box-sizing: border-box;
}

/* Spacing added to all elements, before & after */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Curved border around now-centered & absolutely positioned calculator */
.calculator {
  border: 1.2px solid darkslategray;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
