/* Sets .html's elements' font size; any added padding/border gets included in element's total size */
html {
  font-size: 1vw;
  box-sizing: border-box;
}

/* Spacing added to all elements, before & after */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Curved border around now-centered & absolutely positioned calculator */
.calculator {
  border: 1.2px solid darkslategray;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

/* Output-display area (.calculator-screen) */
.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: black;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 7px 7px 0px 0px;
}

/* All buttons */
button {
  height: 70px;
  border-radius: 3px;
  border: 1px solid darkslategray;
  background-color: transparent;
  font-size: 3.2rem;
  color: black;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.06));
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.05),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.05);
}
/* Hover for all buttons */
button:hover {
  background-color: #e1e1e1;
}

/* Non-numeric buttons */
.operator {
  color: black;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.5));
  background-color: lightsteelblue;
}

/* AC ("All Clear" button) */
.all-clear {
  background-color: red;
  border-color: darkslategrey;
  color: #fff;
}

/* AC button's hover effect */
.all-clear:hover {
  background-color: darkred;
}

/* The "=" button */
.equal-sign {
  background-color: blue;
  border-color: darkslategrey;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

/* The "=" button's hover effect */
.equal-sign:hover {
  background-color: darkblue;
}

/* All keys (proper spacing) */
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
