html {
  font-family: "Avenir Next", Helvetica, sans-serif;
  text-align: center;
}

body {
  max-width: 500px;
  margin: 0 auto;
}

input {
  padding-top: 30px;
  width: 500px;
  height: 60px;
  font-size: 40px;
  border: 0;
}

input:focus {
  outline: none;
}

li {
  text-align: left;
  font-size: 40px;
  list-style: none;
  margin: 0;
}

ul {
  text-align: center;
}

footer {
  border: 1px solid grey;
  position: fixed;
  bottom: 0;
}

/* Adds padding between items in the array once one has been deleted */
.remove {
  padding-bottom: 5px;
}
